body {
    background-color: #AFB4C5;
}

/* navbar */
.navbar {
    width: 750px;
    background-color: #2C363F;
    border-radius: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar ul{ 
    list-style-type: none;
    padding: 10px;
    margin: 1%;
    overflow: hidden;
}

.navbar li{
    display: inline;
}

.navbar a{
    color: #F3D9DC;
    text-decoration: underline;
    padding: 10px;
    }

.navbar a:hover{
    background-color: rgb(107, 107, 107);
    color: #F3D9DC;
}

.navbar a:visited{
    color: #F3D9DC;
}

/* header */
header {
    text-align: center;
    position:sticky;
    align-items: center;
    
}

/* body */
.faq {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;    
}

.faq div {
    background-color: #F3D9DC;
    width: 50%;
    margin: 2px;
    border: 1px #2C363F solid;
    text-align: center;
    list-style-position: inside;
}



