

main {
    text-align: center;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
    text-align: center;
}



/* images */
#uni {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 200px;
}

#me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 500px;
}

/* text */
h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

p {
    padding-left: 28%;
    padding-right: 28%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-align: center;
}

hr {
    height: 2px;
    background-color: black;
    border-color: black;
    margin-left: 520px;
    margin-right: 520px;
}

h3 {
    text-align: center;
    margin-top: -2px;
    margin-bottom: -1px;
}

/* aside menu */
aside ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}