/* paragraphs */
.personal {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(0, 0, 0, 0.5);
    color: #F3D9DC;
    border: #F3D9DC solid;
    padding: 1%;
    margin-left: 20%;
    margin-right: 20%;
}

.container {
    margin-top: 7%;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 2%;
    border: #F3D9DC solid;
    color: #F3D9DC;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 1%;
}

.travel {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* characteristics */
.characteristiscs {
    border: 2px #F3D9DC solid;
    background-color: rgb(0, 0, 0, 0.5);
    float: left;
    padding: 0.5% 0.5% 0.5% 2%;
    text-align: start;
    color: #F3D9DC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* sociallinks */
.sociallinks {
    border: 2px #F3D9DC solid;
    background-color: rgb(0, 0, 0, 0.5);
    float: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #F3D9DC;
    padding: 0.5% 0.5% 0.5% 2%
}

.sociallinks a:hover {
    color: #F3D9DC;
}

.sociallinks a {
    color: #F3D9DC;
}

/* photos */
.photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr 2fr 1fr);
    grid-template-rows: 0.5fr;
    grid-auto-rows: auto;
    grid-column-gap: 1%;
    grid-row-gap: 0px;
    height: 560px;
}

.picsprofile {
    width: auto;
    height: 10%;
}

/* songs */
.spotify {
    border: #F3D9DC solid 2px;
    padding-bottom: 4%;
    margin-bottom: 2%;
    background-color: rgb(0, 0, 0, 0.5);
    color: #F3D9DC;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.song {
    margin-left: 1%;
    margin-right: 1%;
}