body {
    background-color: #AFB4C5;
    max-width: auto;
    position: relative;
}

main {
    text-align: center;
}

* {
    /* outline: solid 1px black; */
}

/* class p1 */
h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
    text-align: center;
}

/* navbar */
.navbar {
    width: 750px;
    background-color: #2C363F;
    border-radius: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar ul{ 
    list-style-type: none;
    padding: 10px;
    margin: 1%;
    overflow: hidden;
}

.navbar li{
    display: inline;
}

.navbar a{
    color: #F3D9DC;
    text-decoration: underline;
    padding: 10px;
    }

.navbar a:hover{
    background-color: rgb(107, 107, 107);
    color: #F3D9DC;
}

.navbar a:visited{
    color: #F3D9DC;
}

/* images */
#uni{
    display:block;
    margin-left:auto;
    margin-right: auto;
    width: auto;
    height: 200px;
}

#HZ{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

/* class p2 */
h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

p {
    padding-left: 28%;
    padding-right: 28%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-align: center;
}

hr {
    height:2px;
    background-color: black;
    border-color: black;
    margin-left: 520px;
    margin-right: 520px;
}

h3 {
    text-align: center;
    margin-top: -2px;
    margin-bottom: -1px;
}

aside ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

