body {
    background-color: #AFB4C5;
    max-width: auto;
    position: relative;
}

a:hover {
    color: blue;
}

h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
}

/* paragraphs */
.personal {
    text-align: center;
}

.travel {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 15%;
    margin-left: 15%;
    padding-bottom: 5px;
}

/* navbar */
.navbar {
    width: 750px;
    background-color: #2C363F;
    border-radius: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.navbar ul{ 
    list-style-type: none;
    padding: 10px;
    margin: 1%;
    overflow: hidden;
}

.navbar li{
    display: inline;
}

.navbar a{
    color: #20cdff;
    text-decoration: underline;
    padding: 10px;
    }

.navbar a:hover{
    background-color: rgb(107, 107, 107);
    color: #20cdff;
}

.navbar a:visited{
    color: #20cdff;
}

/* characteristics */
.characteristiscs {
    background-color: #2C363F;
    float: left;
    padding: 5px 5px 5px 20px;
    text-align: start;
}

.sociallinks {
    background-color: #2C363F;
    float: right;
}

/* photos */
.photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr 2fr 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 160px;
    grid-row-gap: 0px;
    background-color: #2C363F;
    height: 571px;
}

#nzneedle {
    width: auto;
    height: 11%;
}

#thailand {
    width: auto;
    height: 11%;
}

#usa {
    width: auto;
    height: 11%;
}