body {
    background-color: #AFB4C5;
    max-width: auto;
    position: relative;
}

h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
}

/* paragraphs */
.personal {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    margin-top: 150px;
}

.travel {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 25%;
    margin-left: 25%;
    padding-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* navbar */
.navbar {
    width: 750px;
    background-color: #2C363F;
    border-radius: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: static;
}

.navbar ul {
    list-style-type: none;
    padding: 10px;
    margin: 1%;
    overflow: hidden;
}

.navbar li {
    display: inline;
}

.navbar a {
    color: #F3D9DC;
    text-decoration: underline;
    padding: 10px;
}

.navbar a:hover {
    background-color: rgb(107, 107, 107);
    color: #F3D9DC;
}

.navbar a:visited {
    color: #F3D9DC;
}

/* characteristics */
.characteristiscs {
    background-color: #2C363F;
    float: left;
    padding: 5px 5px 5px 20px;
    text-align: start;
    color: #F3D9DC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* sociallinks */
.sociallinks {
    background-color: #2C363F;
    float: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.sociallinks a:hover {
    color: #F3D9DC;
}

.sociallinks a {
    color: #F3D9DC;
}

/* photos */
.photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr 2fr 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 160px;
    grid-row-gap: 0px;
    background-color: #2C363F;
    height: 571px;
}

#nzneedle {
    width: auto;
    height: 11%;
}

#thailand {
    width: auto;
    height: 11%;
}

#usa {
    width: auto;
    height: 11%;
}