body {
    background-color: #B6FFBB;
    text-align: float;
    max-width: auto;
}
h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
}
p {
    padding-right: 50%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}
li {
    text-align: float;
}


